
<section class="relative w-full h-[600px] bg-cover bg-center flex items-center justify-center text-center"
         style="background-image: url('img/Hero2.png');">

  <div class="absolute inset-0 bg-black bg-opacity-40"></div>

  <div class="relative z-10 max-w-4xl px-4 text-white -mt-28">
    <h1 class="text-5xl md:text-7xl font-serif font-bold mb-4 drop-shadow-lg">
      Tu respiro literario.<br>Quédate cuanto quieras.
    </h1>
    <p class="text-lg md:text-xl font-medium mb-12 pt-4 drop-shadow-md">
      Disfruta de café de especialidad y sumérgete en tu próxima lectura sin prisa
    </p>

    <button class="bg-verde-epigrafe hover:bg-opacity-90 text-white font-semibold py-3 px-8 rounded-md transition-all">
     <a href="/menu/bebidas"> Descubre nuestro menú</a>
    </button>
  </div>
</section>
