<section class="max-w-6xl mx-auto px-8 py-20">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">

    <div>
      <h2 class="text-4xl font-serif font-bold mb-6 text-texto-principal">
        ¿Qué es una cafebrería?
      </h2>
      <p class="text-lg mb-8 leading-relaxed text-texto-principal font-medium">
        Una cafebrería es para los amantes del buen café y las grandes historias. No importa si buscas la calma o el estímulo, aquí encontrarás un buen libro y una taza perfecta para acompañar tu lectura.
      </p>
      <button 
      class="bg-verde-epigrafe hover:bg-opacity-90 text-white font-semibold py-3 px-8 rounded-md transition-all shadow-md">
        <a href="/menu/bebidas">Ordena aquí</a>
      </button>
    </div>

    <div>
      <img src="/img/Body.png" alt="Café Chemex y libros clásicos" class="rounded-xl shadow-lg w-full object-cover">
    </div>

  </div>
</section>
