<div class="max-w-4xl mx-auto px-8 py-16">
  <h1 class="text-4xl font-serif font-bold text-texto-principal mb-8">Ubicación y Horarios</h1>

  <div class="grid md:grid-cols-2 gap-12">
    <div>
      <h3 class="font-bold text-xl mb-4">Visítanos</h3>
      <p class="text-gray-600 mb-6">Av. Puente de la Reina 2062, Puerta Navarra, Querétaro, Qro.</p>

      <h3 class="font-bold text-xl mb-4">Horarios</h3>
      <ul class="text-gray-600 space-y-2">
        <li>Lunes a Viernes: 8:00 AM - 9:00 PM</li>
        <li>Sábados: 9:00 AM - 10:00 PM</li>
        <li>Domingos: 10:00 AM - 8:00 PM</li>
      </ul>
    </div>
    <div class="bg-gray-200 h-50 rounded-xl flex items-center justify-center">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.8566249628984!2d-100.48617362445165!3d20.634700080917852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d350fe37c59c8d%3A0xd96222a7644fa6eb!2sFraccionamiento%20Puerta%20Navarra!5e0!3m2!1ses!2smx!4v1782414608680!5m2!1ses!2smx"
          class="w-full h-full"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="strict-origin-when-cross-origin"
        ></iframe>
      </div>

  </div>
</div>
